<% provide :title do  %>
	<%= 'About us' %>
<%end%>
<% provide :toppage do  %>
	<%= 'Who is PollSpark?' %>
<%end%>

<p>
  We are a non-profit, helping create a better world through the power of collective actions and voice.
</p>
