<% provide :title do  %>
	<%= 'About us' %>
<%end%>
<% provide :toppage do  %>
	<%= 'Who is ChangeByFive?' %>
<%end%>

<p>

  <h2>Why</h2>
  <div class="aboutus">ChangeByFive is here to provide a voice to the people and to focus efforts on the things which are most important to us to change our society into a better place.</div> 
<br><br><br><br>
   <h2>How</h2>
  <div class="aboutus">ChangeByFive is a non-profit corporation. 
  We are a platform for change. ChangeByFive is defined by
  our focused efforts, our numbers and Five.</div>
  <br><br>
   <div class="aboutus"><b><i>Focus.</i></b> We are here to raise the most pressing issues of our time. All of us might have 
  different thoughts on what is most important. But say we had to choose. Say we had to 
  decide - what would you change? ChangebyFive allows users to vote for topics they feel are important. 
  Each user has Five votes which they can distribute in any way they choose. After 6 months, the most popular
topic is launched as a campaign.  ChangeByFive opted to have only one campaign every six months is simple. By focusing our efforts,
we will drastically increase our chances of success and give a clear message to our leaders that we, the people, 
are ready for change. </div>

  <br>
 <div class="aboutus"><b><i>Numbers.</i></b> ChangeByFive has a goal of reaching every single person in North America.
 We live in a democracy. Lets show our leaders that we do care. That we do have a voice. </div>
    <br>
	 <div class="aboutus"><b><i>Five.</i></b>  Five is our request. To change the world is no small task, and we ask that every person share
	 each campaign with Five individuals, two of which must not use social networks frequently. Five was chosen 
	 quite arbitrarily, although the number Five has a nice ring to it. </div>
	<br><br><br><br>
  <h2>Our Role</h2>
  <div class="aboutus">ChangeByFive is here to ensure campaigns are as successful as possible. This includes:<br>
  -Ensuring campaign proposals are professional <br>
  -Performing research to ensure campaings and campaign proposals are fact-based<br>
  -Marketing and publicizing campaings (Video production, Petitions, etc)<br></div>
</p>
