<h1>THANK YOU!</h1> <br />
	<img src="/images/front page logo.png" id="frontlogo"/>
<h3><br />
Stay Tuned for updates... <br /><br /><br />

Support campaings by donating or shopping below! A little can do a lot...<br /><br />
</h3>
<%= link_to "Shop", items_path, class: "btn btn-large btn-primary" %>
<%= link_to "Donate", '#', class: "btn btn-large btn-primary" %><br />