<% provide(:title, @petition.id) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
		<%= @petition.name %>
	 </h1>
		<% if signed_in? %>
			<%= form_for(@petition) do |f| %>	
			  <%= f.submit "Change vote!", class: "btn btn-large btn-primary" %>
		   	<% end %>
	    <% else %>
			 <%= link_to "Sign in to vote!", signin_path, class: "btn btn-large btn-primary" %>
        <% end %>	
    </section>
  </aside>
</div>