<% provide :toppage do  %>
	What do YOU want to change?
<%end%>
<section id="wrapper1">
	<div id="container">
		<% @petitions.each do |petition| %>
					<div class="block">
						<div class="imgholder">
							<%= link_to image_tag(petition.pics_url), edit_petition_path(petition)  %>
						</div>
						<strong><%= link_to petition.name, edit_petition_path(petition)	, {:style=>'color:#000000;'} %></strong>
						<div class="meta"><%= petition.rating %> Votes</div>
					</div>
		<% end %>
	</div>
</section>	 
  




