<% provide(:title, 'All petitions') %>
<h1>What do <i id="alert">you</i> want to change?</h1>

  <% @petitions.in_groups_of(2, false) do |row_petitions| %>
      <% for petition in row_petitions %>
			<div class="petitions">
				<%= link_to petition.name, edit_petition_path(petition)	, {:style=>'color:#000000;'} %>
				<div class="link">
				  <%= petition.rating %> Votes
				</div>
			</div>
	  <% end %>	
  <% end %>
  
  




