<li>
  <span class="content"><%= micropost.content %></span>
  <span >Posted by <%= micropost.user.name %></span> <br />
  <span class="timestamp">
    <%= time_ago_in_words(micropost.created_at) %> ago.
  </span>
</li>