			
				<%= link_to petitionnow_path do %>
					<br /><div id="bar"></div><br />
					<div id="sides">
					2 - Participate
					</div>
				<% end %>	<br />



				<%= link_to '#' do %>
					<br /><div id="bar"></div><br />
					<div id="sides">
					3 - Share
					</div>
				<% end %>	<br />	